@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .container {
    @apply max-w-screen-lg;
  }
}

.tiptap {
  @apply container leading-relaxed focus:outline-none;
}

.tiptap > p {
  @apply mt-[1em] first:mt-0;
}

.tiptap p.is-editor-empty:first-child::before {
  @apply text-base-content/50;
  content: attr(data-placeholder);
  float: left;
  height: 0;
  pointer-events: none;
}

.no-thumb::-webkit-slider-thumb {
  @apply bg-inherit w-2 h-2;
  translate: none;
  background-color: var(--range-shdw);
  box-shadow: -8px 0 0 3px var(--range-shdw), var(--focus-shadow, 0 0),
    calc(var(--filler-size) * -1 - var(--filler-offset)) 0 0 var(--filler-size);
}

.no-thumb::-moz-range-thumb {
  @apply bg-inherit w-2 h-2;
  translate: none;
  background-color: var(--range-shdw);
  box-shadow: -8px 0 0 3px var(--range-shdw), var(--focus-shadow, 0 0),
    calc(var(--filler-size) * -1 - var(--filler-offset)) 0 0 var(--filler-size);
}
